body{
  background-color: white;
}

.boxcontainer {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.boxcontainer div {
  border-right: 5px solid black;
  border-top: 5px solid black;
}

.boxcontainer div:nth-child(3n) {
  border-right: none;
}
.boxcontainer div:nth-child(-n+3) {
  border-top: none;
}
